button {
  color: #1c3f3a;
  background-color: #e0e7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

button:hover {
  background-color: #b9c8c6;
}

.coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fcfffc;
  border-radius: 8px;
}

h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
