.navbar {
  background-color: #1C3F3A;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  max-height: 60px;
}

.logo {
  height: 40px;
  width: auto;
  padding: 0.5rem 0.7rem;
}

.profile {
  display: flex;
  width: 42px;
  height: 38px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding:0.5rem 0.7rem;
} 

.logout{
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.container-nav {
  display: flex;
  align-items: center;
  gap : 15px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
