body {
  background-color: #1c3f3a;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Times New Roman", Times, serif;
}

.ForgotPass {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #1c3f3a;
  padding: 0;
}

.green_sheet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
}

.ForgotPass .container {
  background-color: #1c3f3a !important;
}

.SendEmail,
.SetNewPass {
  background-color: #eef2ff;
  width: 100%;
  padding: 40px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 4;
  min-height: 100vh;
}
.Parent {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

.logo {
  min-width: 150px;
  height: auto;
  display: block;
}

@media (max-width: 600px) {
  .Parent {
    flex-direction: column; 
  }
  .green_sheet {
    margin-top: 30px;
  }
}

.emailvalidation,
.passwordValidation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Logo {
  background: none;
  border: none;
  color: #1c3f3a;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 50px;
  cursor: pointer;
}

.forgot {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.consigne {
  color: #7d6a6a;
  font-size: 20px;
  margin-bottom: 25px;
  text-align: center;
}

.InputHolder {
  padding: 10px;
  margin-bottom: 50px;
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 80%;
  font-size: 16px;
}

.submitBtn {
  background-color: #1c3f3a;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 85%;
  min-width: 300px;
}

.submitBtn:hover {
  background-color: #174a42b1;
}

.back {
  color: #000000;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.passwordValidation .InputHolder {
  margin-bottom: 20px;
}
.error {
  color: red;
  font-size: 20px;
  margin-top: 4px;
}

.success {
  color: #1c3f3a;
  font-size: 18px;
  margin-top: 6px;
  text-align: center;
}
